<html>
<head>
<title>Form Kelas</title>
</head>
<body>
	<h2>Form Kelas</h2>
	<style>
table {
	border: 1px solid black;
	padding: 20px
}
</style>
	<form th:action=@{/kelas/save} method="post">
		<table>
			<tr>
				<td><input type="hidden" name="id" th:value="${kelasEdit.id}"></td>
			</tr>
			<tr>
				<td>Kode Kelas</td>
				<td>:</td>
				<td><input type="text" name="kodeKelas"
					th:value="${kelasEdit.kodeKelas}"></td>
			</tr>
			<tr>
				<td>Nama Kelas</td>
				<td>:</td>
				<td><input type="text" name="namaKelas"
					th:value="${kelasEdit.namaKelas}"></td>
			</tr>
			<tr>
				<td>Kode Dosen</td>
				<td>:</td>
				<td><select name="dosenId">
						<option th:each="item:${listDosen}" th:value="${item.id}"
							th:text="${item.kodeDosen}">Pilih Dosen</option>
				</select></td>
			</tr>
			<tr>
				<td>Kode Matakuliah</td>
				<td>:</td>
				<td><select name="matakuliahId">
						<option th:each="item:${listMK}" th:value="${item.id}"
							th:text="${item.kodeMatakuliah}">Pilih Matakuliah</option>
				</select></td>
			</tr>
			<tr>
				<td>Kode Ruang</td>
				<td>:</td>
				<td><select name = "ruangId">
						<option th:each="item:${listRuang}" th:value="${item.id}"
							th:text="${item.kodeRuang}">Pilih Ruang</option>
				</select></td>
			</tr>
		</table>
		<br> &emsp; <input type="submit" value="Submit"> &ensp; <input
			type="reset" value="Reset">
	</form>
</body>
</html>