<html>
<head>
<style>
table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}

th, td {
	padding: 5px;
	text-align: left;
}
</style>
</head>
<body>
	<table>
		<caption>Tabel Bobot Nilai</caption>
		<thead>
			<tr>
				<th>Kode Nilai</th>
				<th>Bobot</th>
				<th>Action</th>
				<th>Hapus</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="item:${bobotNilaiList}">

				<td><span th:text="${item.kodeNilai}"></span></td>
				<td><span th:text="${item.bobot}"></span></td>

				<!-- merujuk ke method edit -->
				<td><a th:href="@{edit/{id}(id=${item.id})}">Edit</a></td>
				<td><a th:href="@{hapus/{id}(id=${item.id})}">Hapus</a></td>
			</tr>
		</tbody>
	</table>
</body>
</html>