<html>
<head>
<title>Sistem Akademik</title>
</head>
<body>
	<h2>Pilih Tabel CRUD</h2>
	
	<table>
		<tr><button type="button"><a href="/fakultas">Fakultas</a></button></tr>
		<tr><button type="button"><a href="/jurusan">Jurusan</a></button></tr>
		<tr><button type="button"><a href="/matakuliah">Mata-Kuliah</a></button></tr>
		<tr><button type="button"><a href="/kelas">Kelas</a></button></tr>
		<tr><button type="button"><a href="/kelas-detail">Kelas Detail</a></button></tr>
		<tr><button type="button"><a href="/ruang">Ruang</a></button></tr>
		<tr><button type="button"><a href="/dosen">Dosen</a></button></tr>
		<tr><button type="button"><a href="/mahasiswa">Mahasiswa</a></button></tr>
		<tr><button type="button"><a href="/bobot-nilai">Bobot Nilai</a></button></tr>
	</table>
</body>
</html>