<html>
<head>
<style>
table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}

th, td {
	padding: 5px;
	text-align: left;
}
</style>
</head>
<body>
	<table>
		<caption>Tabel Jurusan</caption>
		<thead>
			<tr>
			<!-- <th> table header  -->
				<th>Kode Jurusan</th>
				<th>Nama Jurusan</th>
				<th>Kode Fakultas</th>
				<th>Action</th>
				<th>Hapus</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="item:${jurusanList}">
				
				<!-- merujuk ke variabel kode fakultas -->
				<td th:text="${item.kodeJurusan}"></td>
				<td th:text="${item.namaJurusan}"></td>
				<td th:text="${item.fakultas.kodeFakultas}"></td>
				
				<!-- merujuk ke method edit -->
				<td><a th:href="@{edit/{id}(id=${item.id})}">Edit</a></td>
				<td><a th:href="@{hapus/{id}(id=${item.id})}">Hapus</a></td>
			</tr>
		</tbody>
	</table>
</body>
</html>