<!DOCTYPE html>
<html>
<head>
<title>Halaman Testing</title>
</head>
<body>
	<h1>This is heading 1</h1>
	<h2>This is heading 2</h2>
	<h3>This is heading 3</h3>

	<button>Click me</button>
	<br>
	<br>
	<a href="https://arfanhari.wordpress.com">This is a link</a>
	<br>
	<br>
	<button>
		<a href="https://arfanhari.wordpress.com">Click and Link</a>
	</button>

	<br>
	<br>
	<ul>
		<li>Coffee</li>
		<li>Tea</li>
		<li>Milk</li>
	</ul>
	<br>
	<input type="checkbox" onclick="var input = document.getElementById('name2'); if(this.checked){ input.disabled = false; input.focus();}else{input.disabled=true;}" />Other...
        <br><input id="name2" name="name2" disabled="disabled"/>
</body>
</html>