<html>
<head>
<style>
table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}

th, td {
	padding: 5px;
	text-align: left;
}
</style>
</head>
<body>
	<table>
		<caption>Tabel Dosen</caption>
		<thead>
			<tr>
				<th>Kode Dosen</th>
				<th>Nama Dosen</th>
				<th>Jenis Kelamin</th>
				<th>Alamat</th>
				<th>Action</th>
				<th>Hapus</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="item:${dosenList}">

				<!-- merujuk ke variabel kode fakultas -->
				<td><span th:text="${item.kodeDosen}"></span></td>
				<td><span th:text="${item.namaDosen}"></span></td>
				<td><span th:text="${item.jk}"></span></td>
				<td><span th:text="${item.alamat}"></span></td>

				<!-- merujuk ke method edit -->
				<td><a th:href="@{edit/{id}(id=${item.id})}">Edit</a></td>
				<td><a th:href="@{hapus/{id}(id=${item.id})}">Hapus</a></td>
			</tr>
		</tbody>
	</table>
</body>
</html>